{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="de">

<head>
    <title>{{title}}</title>
    <style>
        table, td, th {
          border: 1px solid;
        }
        
        table {
          width: 100%;
          border-collapse: collapse;
        }
        </style>
</head>

<body>
    <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <select name="language" onchange="this.form.submit()">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
            <option id="languages" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
            {% endfor %}
        </select>
    </form>
    
    <br><br>

    <input type="text" id="city_input">
    <button id="click_but" type="button" onclick="get_weather()">{% translate "Get Weather" %}</button>

    <br><br>

    <table>
        <tr>
            <th>{% translate "Name" %}</th>
            <th>{% translate "Temp Min" %}</th>
            <th>{% translate "Temp Max" %}</th>
            <th>{% translate "Humidity" %}</th>
            <th>{% translate "Pressure" %}</th>
            <th>{% translate "Wind Speed" %}</th>
            <th>{% translate "Wind Direction" %}</th>
            <th>{% translate "Description" %}</th>
        </tr>
        <tr>
            <td>
                <h3 id="name"></h3>
            </td>
            <td>
                <h3 id="temperature_min"></h3>
            </td>
            <td>
                <h3 id="temperature_max"></h3>
            </td>
            <td>
                <h3 id="humidity"></h3>
            </td>
            <td>
                <h3 id="pressure"></h3>
            </td>
            <td>
                <h3 id="wind_speed"></h3>
            </td>
            <td>
                <h3 id="wind_direction"></h3>
            </td>
            <td>
                <h3 id="description"></h3>
            </td>
        </tr>
    </table>
    <script>
        const chatSocket = new WebSocket('ws://' + window.location.host + '/ws/');
        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            if ('data' in data) {
                if ("Error" in data["data"]) {
                    alert(data["data"]["Error"])
                }
                else {
                    document.getElementById("name").innerText = data["data"]["name"]
                    document.getElementById("temperature_min").innerText = data["data"]["temperature"]["min"]
                    document.getElementById("temperature_max").innerText = data["data"]["temperature"]["max"]
                    document.getElementById("humidity").innerText = data["data"]["humidity"]
                    document.getElementById("pressure").innerText = data["data"]["pressure"]
                    document.getElementById("wind_speed").innerText = data["data"]["wind"]["speed"]
                    document.getElementById("wind_direction").innerText = data["data"]["wind"]["direction"]
                    document.getElementById("description").innerText = data["data"]["description"]
                }
            }
        };
        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        function get_weather(e) {
            var ct = document.getElementById("city_input").value;
            chatSocket.send('{"type":"unsubscribe"}')
            chatSocket.send('{"type":"subscribe", "city":"' + ct + '"}');

            fetch(document.location.origin + "/api/weather/", {
                method: "POST",
                headers: { 'Content-Type': 'application/json', 'Accept-language': document.getElementById("languages").value },
                body: JSON.stringify({ "city": ct })
            }).then((response) => response.text())
                .then((text) => {
                    const text_js = JSON.parse(text);
                    if ("Error" in text_js) {
                        alert(text_js["Error"]);
                    }
                });
        }

    </script>
</body>

</html>